@model MvcLoginRegistration.Models.Shows

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shows</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.premiereDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.premiereDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distributiob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distributiob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketsNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
